<div class="container">
    <div *ngFor="let keg of kegs">
        <div class="card hoverable">
            <h5 class="center-align" >{{keg.name}}</h5>
            <p class="center-align">APV {{keg.alcohol}}% IBU {{keg.ibu}}</p>            
            <p class="center-align">{{keg.description}}</p>
            <p class="center-align">${{keg.price}}/pint  ${{keg.price * 1.5 }}/growler ${{keg.price * 3}}/large growler</p>
            <img *ngIf="keg.volume >= 120" src="../../assets/keg100.png" alt="image of a full keg" draggable="false">
            <img *ngIf="keg.volume < 120 && keg.volume >= 100" src="../../assets/keg90.png" alt="image of a mostly full keg" draggable="false">
            <img *ngIf="keg.volume < 100 && keg.volume >= 62" src="../../assets/keg50.png" alt="image of a half full keg" draggable="false">
            <img *ngIf="keg.volume <62 && keg.volume > 10" src="../../assets/keg20.png" alt="image of a mostly empty keg" draggable="false">
            <img *ngIf="keg.volume <= 10" src="../../assets/keg0.png" alt="image of an empty keg">

            <!-- <a href="" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
            <button class="btn" (click)="navOpen()">Open</button>

        </div>
    </div>
</div>

<ul id="slide-out" class="sidenav">
<li><div class="user-view">
    <div class="background">
    <img src="images/office.jpg">
    </div>
    <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#name"><span class="white-text name">John Doe</span></a>
    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
</div></li>
<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
<li><a href="#!">Second Link</a></li>
<li><div class="divider"></div></li>
<li><a class="subheader">Subheader</a></li>
<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>