img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    position: relative;
    top: 50vh;
}

.btn-primary {
    left: 50vw;
}

.btn-danger {
    right: -50vw;
}
.splash {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #000000, #000000, #740000, #000000, #000000);
    background-size: 1000% 1000%;
    
    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 0%}
    100%{background-position:0% 90%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 0%}
    100%{background-position:0% 90%}
}
@keyframes AnimationName { 
    0%{background-position:0% 90%}
    50%{background-position:100% 0%}
    100%{background-position:0% 90%}
}